.card-container {
  margin: 10px 10px 10px 10px;
  height: 230px;
  overflow: auto;
}

table {
  min-width: 300px;
}


th.mat-header-cell, td.mat-cell{
  padding-left: 10px;
  padding-right: 10px;
  min-width: 20px;
}

.card {
  width: auto;
}

.form-filter {
  padding-left: 12px;
}

tr.mat-footer-row, tr.mat-row {
    height: 30px;
}

.value-change {
  border-radius: 4px;
  &.default {
    background-color: white;
  }
  &.changed {
    background-color: greenyellow;
  }
  transition: all 1s ease-in-out;
}

.toggle{
  font-size: 26px;
  padding-left: 8px;
}
