.sensor-type {
  width: 200px;
  float: right;
  bottom: 50px;
}

.room {
  width: 98%;
  position: absolute;
  top: 3px;
  left: 0px;
}

.container-card {
  background-color: #f2f2f2;
  padding: 10px;
  border: 2px solid #CCCCCC;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-flow: column wrap; /* Shorthand – you could use ‘flex-direction: column’ and ‘flex-wrap: wrap’ instead */
  justify-content: flex-start;
  align-items: flex-start;
  column-count: 4;
}

.item {
  display: inline-block;
  //background-color: wheat;
  height: 100%;
  width: 95%;
  //margin: 1%;
  //padding: 10px;
}

::ng-deep .mat-figure{
  display: block !important;
}
