<div>
  <h3>List sensors of server: {{automateName}}</h3>
  <mat-form-field class="sensor-type">
    <mat-label>Sensor Type</mat-label>
    <mat-select [(value)]="currentSensorTypeIds" (valueChange)="filterSensorsByType(currentSensorTypeIds)" multiple>
      <mat-option *ngFor="let type of sensorTypes" [value]="type.id">
        {{type.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<mat-grid-list cols="4" [rowHeight]="getHeightMax()">
  <mat-grid-tile
    *ngFor="let element of automateDetailsSensorData">
    <app-table-automate-room [automateDetail]="element" class="room"></app-table-automate-room>
  </mat-grid-tile>
</mat-grid-list>
