<app-loading *ngIf="isLoadingResults"></app-loading>
<div *ngIf="!isLoadingResults">
  <div *ngIf="formatSensorHistoryData.length > 0">
    <h2>{{sensorName}} Chart </h2>
    <div class="input-date">
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Start Date" [formControl]="startDate" (dateChange)="changeDate()"> 
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="end-date">
        <input matInput [matDatepicker]="picker1" placeholder="End Date" [formControl]="endDate" (dateChange)="changeDate()">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </div>
    <div [chart]="stockChart">
      <div class="loading-shade">
        <mat-spinner *ngIf="isLoadingResults"
                    [diameter]="40">
        </mat-spinner>
      </div>
    </div>
  </div>
  <div *ngIf="formatSensorHistoryData.length == 0">
    <h3>No history data.</h3>
  </div>
</div>
