.start-day {
  margin-right: 10px;
}

.chart {
  width: 100%;
}

.timeZoom {
  position: absolute;
  left: 40px;
}

.timeZoom-btn {
  margin-left: 5px;
}

::ng-deep .x g g g text{
  transform: rotate(-45deg);
}
