.start-day {
  margin-right: 10px;
}

.timeZoom {
  position: absolute;
  left: 40px;
}

.timeZoom-btn {
  margin-left: 5px;
}

.input-date {
  width: 200px;
}

.end-date {
  margin-left: 20px;
  position: absolute;
  width: 200px;
}