.container-material {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.is-mobile .toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.app-name {
  margin-left: 8px;
}

.sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
  .mat-nav-list{
    width: 200px;
  }
}

.is-mobile .sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 64px);
}

.content {
  flex: 1; // child will set to an equal size inside the container
}

main {

  display: flex;
  flex-direction: column;
  padding: 15px 15px 0 15px;
  // Select all direct descendants only of the <main> element
  // that are not <router-outlet> elements:
  > *:not(router-outlet) {

    flex: 1; // child will set to an equal size inside the container
    display: block;

  }

}

.active-list-item {
  background-color: #e5f6fe !important; /* Note: You could also use a custom theme */
  .text {
    color: #0795db;
  }
}

