<div class="container-material" [class.is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name">SMART BUILDING</h1>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="true">
      <mat-nav-list *ngFor="let nav of fillerNav">
        <a mat-list-item routerLink={{nav.LINK}} routerLinkActive="active-list-item">
          <mat-icon class="text">{{nav.ICON}}</mat-icon>
          <div class="text">{{ nav.NAME }}</div>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="page-wrap">
      <main class="content">
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<div *ngIf="!shouldRun">Please open on Stackblitz to see result</div>
