<h1 mat-dialog-title>Detail server</h1>
<div mat-dialog-content>
  <form class="form" [formGroup]="formServer">
    <mat-form-field class="full-width">
      <input matInput placeholder="Name" formControlName="name">
      <mat-error *ngIf="formServer.get('name').hasError('required')">
        Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="Ip Address" formControlName="ip">
      <mat-error *ngIf="formServer.get('ip').hasError('required')">
        Ip is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="formServer.get('ip').hasError('ip')">
        Wrong format <strong>Ip Address</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="Uri" formControlName="uri">
      <mat-error *ngIf="formServer.get('uri').hasError('required')">
        Uri is <strong>required</strong>
      </mat-error>
    </mat-form-field>

     <mat-form-field class="full-width">
      <input matInput placeholder="Floor" formControlName="floor">
      <mat-error *ngIf="formServer.get('uri').hasError('required')">
        Floor is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-radio-group aria-label="Select an option" formControlName="active">
      <mat-radio-button value="true" [checked]="automate.active == true">Active</mat-radio-button>
      <mat-radio-button value="false" [checked]="automate.active == false">Disable</mat-radio-button>
    </mat-radio-group>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button  (click)="onNoClick()">Cancel</button>
  <button mat-raised-button [mat-dialog-close]="formServer.value" cdkFocusInitial [disabled]="formServer.invalid" color="primary">Save</button>
</div>
