<h1 mat-dialog-title>Detail server</h1>
<div mat-dialog-content>
  <form class="form" [formGroup]="formServer">
    <app-input-field placeholder="Name" [control]="formServer.get('name')"></app-input-field>
    <app-input-field placeholder="Ip Address" [control]="formServer.get('ip')"></app-input-field>
    <app-input-field placeholder="Uri" [control]="formServer.get('uri')"></app-input-field>
    <app-input-field placeholder="Floor" [control]="formServer.get('floor')"></app-input-field>
    <mat-radio-group aria-label="Select an option" formControlName="active">
      <mat-radio-button value="true" [checked]="automate.active == true">Active</mat-radio-button>
      <mat-radio-button value="false" [checked]="automate.active == false">Disable</mat-radio-button>
    </mat-radio-group>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button  (click)="onNoClick()">Cancel</button>
  <button mat-raised-button [mat-dialog-close]="formServer.value" cdkFocusInitial [disabled]="formServer.invalid" color="primary">Save</button>
</div>
