.table-container {
  position: relative;
  overflow: auto;
}

th.mat-header-cell, td.mat-cell {
  padding-left: 10px;
  min-width: 50px;
}

th.mat-column-status, td.mat-column-status {
  text-align: center;
}

.detail {
  color: blue;
}
