/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "assets/scss/setting";
@import "./assets/scss/variable.scss";

html, body {
  font-family: 'Roboto',"Helvetica Neue",sans-serif;
}

.icon-action {
  color: #000000;
  opacity: .54;
}

.blue-snackbar {
    background: #2196F3;
}
.red-snackbar {
    background: #F44336;
}

.green-snackbar {
    background: green;
}

.full-width {
  width: 100%;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
